node_modules
npm-debug.log
tmp

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

# Mac stuff
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
test/files/assets.zip
test/files/chapters.zip
test/files/js.zip
test/files/mangledfonts.zip
test/files/test.zip
test/files/assets2/SourceSansPro-Regular.otf
test/files/assets2/SourceSansPro-Regular.ttf
test/files/assets2/cover.jpg
test/files/assets2/jquery.js
test/files/assets2/jquery2.js
test/files/assets2/noise.png
test/files/assets2/style.css
test/files/assets2/texture.jpg
