node_modules
npm-debug.log
tmp

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

# Mac stuff
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
test/files/assets.zip
test/files/chapters.zip
test/files/js.zip
test/files/mangledfonts.zip
test/files/test.zip
test/files/assets2/SourceSansPro-Regular.otf
test/files/assets2/SourceSansPro-Regular.ttf
test/files/assets2/cover.jpg
test/files/assets2/jquery.js
test/files/assets2/jquery2.js
test/files/assets2/noise.png
test/files/assets2/style.css
test/files/assets2/texture.jpg
chapters/doc1.json
chapters/doc2.json
chapters/doc3.json
htmlexample.json
test/files/json/assets/SourceSansPro-Regular.otf
test/files/json/assets/SourceSansPro-Regular.ttf
test/files/json/assets/cover.jpg
test/files/json/assets/jquery.js
test/files/json/assets/jquery2.js
test/files/json/assets/noise.png
test/files/json/assets/style.css
test/files/json/assets/texture.jpg
test/files/json/chapters/doc1.json
test/files/json/chapters/doc2.json
test/files/json/chapters/doc3.json
test/files/json/htmlexample.json
test/files/json/index.json
test/files/html/assets/SourceSansPro-Regular.otf
test/files/html/assets/SourceSansPro-Regular.ttf
test/files/html/assets/cover.jpg
test/files/html/assets/jquery.js
test/files/html/assets/jquery2.js
test/files/html/assets/noise.png
test/files/html/assets/style.css
test/files/html/assets/texture.jpg
test/files/html/chapters/doc1.html
test/files/html/chapters/doc2.html
test/files/html/chapters/doc3.html
test/files/html/cover.html
test/files/html/htmlexample.html
test/files/html/index.html
test/files/htmlandjson/assets/SourceSansPro-Regular.otf
test/files/htmlandjson/assets/SourceSansPro-Regular.ttf
test/files/htmlandjson/assets/cover.jpg
test/files/htmlandjson/assets/jquery.js
test/files/htmlandjson/assets/jquery2.js
test/files/htmlandjson/assets/noise.png
test/files/htmlandjson/assets/style.css
test/files/htmlandjson/assets/texture.jpg
test/files/htmlandjson/chapters/doc1.html
test/files/htmlandjson/chapters/doc1.json
test/files/htmlandjson/chapters/doc2.html
test/files/htmlandjson/chapters/doc2.json
test/files/htmlandjson/chapters/doc3.html
test/files/htmlandjson/chapters/doc3.json
test/files/htmlandjson/cover.html
test/files/htmlandjson/htmlexample.html
test/files/htmlandjson/index.html
test/files/htmlandjson/index.json
